# Maven
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Compiled
*.class

# Logs
*.log
hs_err_pid*
replay_pid*
